<nav role="navigation" class="navbar navbar-default">
    <div class="navbar-header">
        <a href="http://acal-software.com/" class="navbar-brand">invoice | acal software limited</a>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li role="separator" class="menu-separator"></li>
            <li><a href="/">home</a></li>
            <li role="separator" class="menu-separator"></li>
            <li><a href="/invoice">invoice</a></li>
            <li role="separator" class="menu-separator"></li>
            <li><a href="/config">config</a></li>
        </ul>
        <% if ( typeof loggedIn != undefined && loggedIn ) { %>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="logout">Logout</a></li>
        </ul>
        <% } %>
    </div>
</nav>