.content {
    padding-left: 10%;
    padding-right: 10%;
}

.glyphicon {
    font-size: 20px;
}

.glyphicon.blue {
    color: lightskyblue;
}

.glyphicon.red {
    color: red;
}

.add-invoice-item, .remove-invoice-item {
    cursor: pointer;
    cursor: hand;
}

.menu-separator {
    height: 50px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}